[submodule "Adv_DotNet/HelpDebugGov"]
	path = Adv_DotNet/HelpDebugGov
	url = https://github.com/audacioustux/HelpDebugGov
[submodule "Adv_DotNet/zero-hunger"]
	path = Adv_DotNet/zero-hunger
	url = https://github.com/audacioustux/zero-hunger
[submodule "DataCom/datacomm-final-project-uni"]
	path = DataCom/datacomm-final-project-uni
	url = https://github.com/audacioustux/datacomm-final-project-uni
[submodule "Adv_DotNet/dotnet-uni-course"]
	path = Adv_DotNet/dotnet-uni-course
	url = https://github.com/audacioustux/dotnet-uni-course
[submodule "Computer_Graphics/CG-Group-Project"]
	path = Computer_Graphics/CG-Group-Project
	url = https://github.com/audacioustux/CG-Group-Project
[submodule "Microprocessor/MAES_FINAL_PROJECT"]
	path = Microprocessor/MAES_FINAL_PROJECT
	url = https://github.com/audacioustux/MAES_FINAL_PROJECT
[submodule "Adv_Java/apj-uni-course"]
	path = Adv_Java/apj-uni-course
	url = https://github.com/audacioustux/apj-uni-course
[submodule "Adv_DBMS/adbmsfinal"]
	path = Adv_DBMS/adbmsfinal
	url = https://github.com/audacioustux/adbmsfinal
